.chip {
    -fx-font-family: Calibri;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-font-size: 1.3em;
    -fx-text-fill: white;
    -fx-padding: 4px;
}