.top-box {
    -fx-padding: 7px 7px 7px 7px;
    -fx-border-color: #303030 transparent #484848 transparent;
    -fx-border-width: 1;
}

.store-button {
    -fx-padding: 7px 7px 7px 7px;
    -fx-border-color: lightgray;
    -fx-background-color: #1E262C;
    -fx-font-family: Calibri;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.store-button:hover {
    -fx-border-color: white;
    -fx-background-color: #0F1316;
}

.title-box {
    -fx-padding: 7px 7px 7px 12px;
}

.title-text {
    -fx-font-family: Calibri;
    -fx-fill: white;
    -fx-font-size: 2.3em;
}

.sort-box {
    -fx-padding: 0px 0px 0px 12px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    visibility: hidden;
}

.scroll-bar .decrement-button {
    visibility: hidden;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: black;
}

.list-area {
    -fx-padding: 10px 120px 30px 30px;
}

.no-match-text {
    -fx-font-family: Calibri;
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
    -fx-padding: 10px 10px 10px 10px;
}

.no-match-button {
    -fx-border-color: rgb(246, 108, 29);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(246, 108, 29);
    -fx-font-family: Calibri;
    -fx-font-size: 1.5em;
    -fx-background-color: transparent;
}

.no-match-button:hover {
    -fx-font-weight: bold;
    -fx-text-fill: orange;
}