.game-title {
    -fx-font-family: Calibri;
    -fx-font-size: 2.0em;
    -fx-text-fill: white;
}

.game-image {
    -fx-border-color: #020202;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.game-owned {
    -fx-background-color: #5fd475;
    -fx-background-radius: 5px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-text-fill: black;
}

.info-box {
    -fx-padding: 16px 16px 16px 16px;
    -fx-min-width: 400px;
}

.game-price {
    -fx-font-family: Calibri;
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
}

.game-rating {
    -fx-font-family: Calibri;
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
    -fx-padding: 6px 0px 10px 0px;
}

.game-description {
    -fx-font-family: Calibri;
    -fx-font-size: 1.4em;
    -fx-text-fill: #C0C0C0;
}

.wide-game {
    -fx-background-color: #171717;
    -fx-background-radius: 10px;
    -fx-border: none;
    -fx-border-color: transparent;
}

.wide-game:hover {
    -fx-background-color: #040404;
    -fx-border: none;
    -fx-border-color: transparent;
}